/* Remove the margin and set the font for the whole page */
body {
    margin: 0px;/*用來定義 DIV 的外距*/
    padding: 0px;/*設定兩個 DIV 區塊的內距*/
    font-family: Georgia, serif;/*字型的設定*/
    font-size: 18px;/*宣告文字的大小*/
}

/* Set the justification for all paragraphs */
p {
    text-align: justify;/*左右對齊*/
}

/* Float and style all images */
img {
    float: left;/*圖片靠左浮動*/
    margin: 3px 15px 7px 0px;/*用來定義 DIV 的外距(上右下左)*/
    border: solid white 1px;/*邊框設置 樣式(實線) 顏色 寬度*/
}

/* The shaded site header */
h1 {
    background-color: #ffc243;
    margin: 0px;/*用來定義 DIV 的外距*/
    padding: 20px;/*設定兩個 DIV 區塊的內距*/
    color: white;
    text-align: center;/*置中對齊*/

    border-style: solid;/*邊框樣式設置(實線)*/
    border-width: 0 0 1px 0;/*邊框寬度設置(上右下左)*/
}

/* The page content, not including the header */
div.main {
    margin: 30px 70px 0 60px;/*用來定義 DIV 的外距(上右下左)*/
}

/* The introduction text. */
/* The introduction section. */
div.intro {
    margin-bottom: 40px;/*設置元素的下邊距*/
    color: #9C9C9C;
}

/* The entire review box. */
div.review {
    background-color: #E4E4E4;
    margin: 20px 0 20px 0;/*用來定義 DIV 的外距(上右下左)*/
    padding: 10px;/*設定兩個 DIV 區塊的內距*/

    border: 1px #8A2700 solid;/*邊框設置 寬度 顏色 樣式(實線)*/
    border-bottom-left-radius: 28px 26px;/*邊框左下角半徑*/
    border-bottom-right-radius: 7px 14px;/*邊框右下角半徑*/

    font-size: 16px;/*宣告文字的大小*/
}

/* The review title */
.review h2 {
    margin-top: 0px;/*設置元素的上邊距*/
    font-size: 16px;/*宣告文字的大小*/
    color: #761C00;
    margin-bottom: 0px;/*設置元素的下邊距*/
}

/* The review byline */
.review .byline {
    font-size: 12px;/*宣告文字的大小*/
    font-style: italic;/*字體樣式設定*/
    border-style: outset;/*邊框樣式設置(浮出線)*/
    border-width: 0 0 1px 0;/*邊框寬度設置(上右下左)*/
    margin: 5px 0 5px 0;/*用來定義 DIV 的外距(上右下左)*/
}

/* The review summary text */
.review p {
    margin: 15px;/*用來定義 DIV 的外距*/
}

/* The link at the end of the review summary */
.review .reviewEnd {
    font-style: italic;/*字體樣式設定*/
    text-align: right;/*靠右對齊*/
    margin-bottom: 0px;/*設置元素的下邊距*/
    clear: both;/*消除左右兩邊的浮動*/
}

.singlePageReview .review {
    border: none;/*無邊框*/
    background: transparent;/*背景透明*/
}

.singlePageReview .review .byline {
    font-size: 14px;/*宣告文字的大小*/
    text-align: right;/*靠右對齊*/
    margin-right: 15px;/*設置元素的右邊距*/
}
.singlePageReview .review h2 {
    font-size: 24px;/*宣告文字的大小*/
    text-align: right;/*靠右對齊*/
    color: #E4E4E4;
    background: #D46A6A;
    border-radius: 30px 0;/*設置邊框 1.左上右下 2.右上左下 半徑*/
    padding: 20px;/*設定兩個 DIV 區塊的內距*/
  }